/* common */
.hidden {
  display: none;
}

/* setting */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  background-color: #e5e5e5;
  color: #fff;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .inner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner h1 a img {
  height: 72px;
}

header .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-right: 50px;
  letter-spacing: 2px;
  padding: 10px;
}

header .inner nav ul li:last-child {
  margin-right: 0;
}

header .inner nav ul li a {
  position: relative;
  padding: 20px;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
}

header .inner nav ul li a::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 30%;
  width: 0;
  height: 16px;
  background: none repeat scroll 0 0 transparent;
  background: rgba(255, 166, 0, 0.8);
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  z-index: -1;
}

header .inner nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

header button.language {
  position: relative;
  border: 1px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
}

header button.language:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

header button.language > ul.panel {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 15px;
}

header button.language > ul.panel > li {
  background-color: #333;
}

header button.language > ul.panel > li:hover {
  background-color: #fff;
}

header button.language > ul.panel > li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

header button.language > ul.panel > li a:hover {
  color: #000;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .quick_menu {
  position: fixed;
  width: 90%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
}

main .quick_menu ul.slide_number {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .quick_menu ul.slide_number > li {
  position: relative;
  margin-bottom: 60px;
}

main .quick_menu ul.slide_number > li:last-child {
  margin-bottom: 0;
}

main .quick_menu ul.slide_number > li:hover::before {
  position: absolute;
  top: 50%;
  left: -90px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: 120px;
  height: 35px;
  background-color: #fff;
  border-radius: 20px;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .quick_menu ul.slide_number > li:nth-child(1):hover::before {
  content: "Main";
}

main .quick_menu ul.slide_number > li:nth-child(2):hover::before {
  content: "Profile";
}

main .quick_menu ul.slide_number > li:nth-child(3):hover::before {
  content: "Tech Stack";
}

main .quick_menu ul.slide_number > li:nth-child(4):hover::before {
  content: "Project";
}

main .quick_menu ul.slide_number > li:nth-child(5):hover::before {
  content: "Career";
}

main .quick_menu ul.slide_number > li > a {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

main .quick_menu button.scrollDown > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 5%;
  bottom: 6%;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

main .quick_menu button.scrollDown > a > p {
  text-shadow: 2px 2px 2px #000;
  font-size: 10px;
  position: absolute;
  top: -20px;
}

main .quick_menu button.scrollDown > a > img {
  width: 50px;
}

@-webkit-keyframes moving {
  0% {
    bottom: 6%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 6%;
  }
}

@keyframes moving {
  0% {
    bottom: 6%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 6%;
  }
}

main section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: center;
  margin-bottom: 100px;
}

main section.main_view {
  position: relative;
}

main section.main_view .quick_menu_banner {
  position: absolute;
  width: 90%;
  bottom: 40px;
  z-index: 30;
}

main section.main_view .quick_menu_banner ul.banner_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.main_view .quick_menu_banner ul.banner_number > li {
  width: 58px;
  height: 7px;
  margin-right: 9px;
  background-color: #fff;
  opacity: 0.3;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
  cursor: pointer;
}

main section.main_view .quick_menu_banner ul.banner_number > li:first-child {
  opacity: 1;
}

main section.main_view article {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.main_view article .main_title {
  width: 90%;
}

main section.main_view article .main_title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

main section.main_view article .main_title p {
  margin: 30px 0;
}

main section.main_view article .main_title > button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 20px 0;
  text-transform: uppercase;
}

main section.main_view article .main_title > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: orange;
}

main section.main_view article:nth-child(2) {
  visibility: visible;
  background-image: url(../img/1.main/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.main_view article:nth-child(3) {
  visibility: hidden;
  background-image: url(../img/1.main/02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.main_view article:nth-child(4) {
  visibility: hidden;
  background-image: url(../img/1.main/03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.main_view article:nth-child(5) {
  visibility: hidden;
  background-image: url(../img/1.main/04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.profile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/2.profile/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.profile h3 {
  letter-spacing: 10px;
  font-size: 4rem;
  font-weight: 600;
  margin: 6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

main section.profile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

main section.profile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(80% / 3);
  height: 140px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(65, 131, 147, 0.3);
  -webkit-box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

main section.profile ul li .icon {
  width: 20%;
  height: 100%;
}

main section.profile ul li .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  width: 100%;
  height: 100%;
}

main section.profile ul li > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 75%;
  height: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.profile ul li > div:nth-child(2) h5 {
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 1.4;
  text-shadow: 0px 0px 4px #000;
}

main section.profile ul li > div:nth-child(2) p {
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 0px 0px 4px #000;
}

main section.profile ul li > div:nth-child(2) p > span {
  font-size: 18px;
}

main section.project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.project .search_window {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  width: 100%;
  height: 30vh;
  background-color: rgba(0, 0, 255, 0.3);
}

main section.project .search_window .search {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #fff;
  width: 60%;
  height: 50px;
  padding: 0 20px;
}

main section.project .search_window .search input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
}

main section.project .search_window .search i {
  color: #000;
  font-size: 20px;
}

main section.project .search_window .filter_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

main section.project .search_window .filter_window button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

main section.project .search_window .filter_window .btnGroupNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

main section.project .search_window .filter_window .btnGroupSkill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

main section.project .search_window .filter_window .btnGroupDevices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

main section.project .search_result {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}

main section.project .search_result ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}

main section.project .search_result ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: 50%;
  margin-right: 20px;
}

main section.project .search_result ul li img {
  width: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

main section.project .search_result ul li .text {
  position: absolute;
  bottom: 10px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 8px;
  line-height: 25px;
}

main section.project .search_result ul li .text h6 {
  font-size: 20px;
}

main section.project .search_result ul li .text .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.project .search_result ul li .text .tag p {
  margin: 0 2px;
}

main section.career {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/5.career/careerBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.career h3 {
  letter-spacing: 10px;
  font-size: 64px;
  font-weight: 600;
  margin: 6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

main section.career ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.career ul li {
  width: 350px;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 20px;
  border-radius: 15px 0 15px 0;
}

main section.career ul li h5 {
  position: relative;
  font-size: 36px;
  margin-bottom: 30px;
}

main section.career ul li h5::after {
  position: absolute;
  left: 0;
  bottom: -20px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

main section.career ul li p {
  font-size: 20px;
}

.onClick {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #156;
  border-radius: 50%;
  cursor: pointer;
}

.onClick::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */