body {
  background-color: orange;
  color: #fff;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 90%;
}

// 헤더 영역
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 80px;
  @include center();
  // background-color: rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.1);
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80px;
    filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.3);
    // background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
  }

  .inner {
    @include center();
    justify-content: space-between;

    h1 {
      @include center();
      a {
        img {
          height: 72px;
        }
      }
    }

    nav {
      ul {
        display: flex;
        li {
          @include center();
          // padding: 10px;
          // width: 100px;
          // border: 1px solid #fff;
          margin-right: 80px;
          font-size: 18px;
          &:last-child {
            margin-right: 0;
          }

          a {
          }
        }
      }
    }
  }

  .language {
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
}

// 퀵 메뉴
main {
  .quick_menu {
    position: fixed;
    z-index: 90;

    // 사이드 슬라이드
    ul.slide_number {
      position: fixed;
      top: 50%;
      right: 3%;
      transform: translate(0%, -50%);

      > li {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: block;
          width: 8px;
          height: 8px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }

    // 스크롤 다운 버튼
    button {
      @include center();
      position: fixed;
      right: 3%;
      bottom: 6%;
      background-color: transparent;
      border: 0;
      color: #fff;
      animation-name: moving; // 애니메이션 명
      animation-duration: 1s; // 완료까지 걸리는 시간 설정
      animation-timing-function: linear; // 속도 곡선 설정
      // animation-delay: 2s; // 지연 설정
      animation-iteration-count: infinite; // 반복 설정
      animation-direction: alternate; // 재생 방향 설정
      p {
        font-size: 10px;
        position: absolute;
        top: -20px;
      }
      img {
        width: 50px;
      }
    }
    @keyframes moving {
      0% {
        right: 3%;
        bottom: 6%;
      }

      50% {
        right: 3%;
        bottom: 7%;
      }

      100% {
        right: 3%;
        bottom: 6%;
      }
    }
  }
}

// 메인 영역
main {
  // 공통 고정 값
  section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    @include center();
    // border: 1px solid #fff;
  }

  // section1 메인화면 시작
  section.main_view {
    position: relative;

    .quick_menu_banner {
      position: absolute;
      left: 40px;
      bottom: 40px;
      z-index: 30;

      // 배너 슬라이드
      ul.banner_number {
        display: flex;

        > li {
          width: 58px;
          height: 5px;
          margin-right: 9px;
          background-color: #fff;
          opacity: 0.3;
          transform: skew(-35deg);
          cursor: pointer;
          &:first-child {
            opacity: 1;
          }
        }
      }
    }

    // 공통 고정 값
    article {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;

      .main_title {
        margin: 40px;
        h2 {
          font-size: 36px;
          font-weight: 600;
          line-height: 50px;
        }

        p {
          margin: 30px 0;
        }

        button {
          width: 150px;
          height: 40px;
          font-size: 18px;
          font-weight: 700;
          background-color: transparent;
          color: #fff;
          border: 1px solid #fff;
          margin: 20px 0;
        }
      }

      &:nth-child(2) {
        visibility: visible;
        background-image: url(../img/bg/01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &:nth-child(3) {
        visibility: hidden;
        background-image: url(../img/bg/02.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &:nth-child(4) {
        visibility: hidden;
        background-image: url(../img/bg/03.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &:nth-child(5) {
        visibility: hidden;
        background-image: url(../img/bg/04.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  // section1 메인화면 종료

  // section2 프로필 시작
  section.profile {
    flex-direction: column;
    background-color: #156;

    h3 {
      font-size: 30px;
      margin: 60px;
    }

    ul {
      @include center();
      flex-wrap: wrap;
      // background-color: rgba(136, 136, 136, 0.29);
      width: 80%;

      li {
        display: flex;
        // @include center();
        width: 25%;
        margin: 20px;

        // background-color: rgba(64, 178, 206, 0.391);
        .icon {
          // background-color: rgba(24, 239, 132, 0.439);
          width: 80px;
          @include center();

          i {
            @include center();
            font-size: 30px;
            line-height: 30px;
          }
        }

        p {
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }
  }
  // section2 프로필 종료

  // section3 기술스택 시작
  section.tech_stack {
  }
  // section3 기술스택 종료

  // section4 프로젝트 시작
  section.project {
    position: relative;
    h3 {
    }
    .contents {
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 100vh;
      background-color: green;
      z-index: -1;
      ul {
        margin-top: 100px;
        display: flex;
        li {
          margin: 10px;
          // background-color: #fff;
          img {
            width: 200px;
            height: 120px;
          }
          p {
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
    .search_window {
      // display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 100vh;
      padding: 150px 10px;
      box-sizing: border-box;
      background-color: #333;
      .search {
        input {
        }
      }
      .filter_window {
        background-color: rgba(255, 255, 255, 0.1);
        width: 300px;
        height: 60px;
        border-radius: 5px;
        margin: 10px 0;
        p {
        }
        input {
        }
      }
    }
  }
  // section4 프로젝트 종료

  // section5 커리어 시작
  section.career {
    flex-direction: column;
    h3 {
    }
    ul {
      display: flex;

      li {
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.201);
        margin: 10px;
        p {
        }
      }
    }
  }
  // section5 커리어 종료
}

// 푸터 영역
footer {
  height: 30px;
  background-color: #156;
}
